<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="connection.url">jdbc:mysql://localhost:3306/hefestoData</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">12345</property>


    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>


    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.josan.coreProyect.domain.Cliente"/>
    <mapping class="com.josan.coreProyect.autentication.Empresa"/>
    <mapping class="com.josan.pedido.EstadoPedido"/>
    <mapping class="com.josan.pedido.Pedido"/>
    <mapping class="com.josan.coreProyect.domain.Producto"/>
    <mapping class="com.josan.pedido.ProductoPedido"/>
    <mapping class="com.josan.pedido.Proveedor"/>
    <mapping class="com.josan.infordat.Tarifa"/>
    <mapping class="com.josan.coreProyect.domain.Usuario"/>
    <mapping class="com.josan.coreProyect.venta.Venta"/>
    <mapping class="com.josan.coreProyect.venta.VentaProducto"/>


  </session-factory>
</hibernate-configuration>